/* Laptop Device */
@media screen and (max-width: 1200px) {
    .video-area {
        width: 100%;
        margin-bottom: 30px;
    }

    .border-video iframe {
        width: 100%;
    }

    .single-skill-card {
        padding: 20px;
        width: 250px;
    }
}

/* Tablet Device */
@media screen and (max-width: 992px) {
    .banner {
        padding: 20px 40px;
    }

    .banner h1 {
        font-size: 24px;
    }

    .banner p {
        padding: 0 30px;
    }

    .goal {
        padding: 20px 40px;
        flex-direction: column-reverse;
        margin-bottom: 80px;
        text-align: center;
    }

    .goal-banner {
        width: 100%;
    }

    .goal-text {
        width: 100%;
    }

    /* .video-area {
        width: 100%;
        margin-bottom: 50px;
    } */

    .border-video iframe {
        width: 100%;
        height: 300px;
    }

    .skill-cards {
        flex-direction: column-reverse;
        gap: 30px;
        text-align: center;
    }

    .single-skill-card {
        width: 100%
    }

    .footer-area {
        flex-direction: column-reverse;
        padding: 32px 50px;
    }

    .footer-media img {
        width: 60px;
        margin-left: 25px;
        margin-bottom: 15px;
    }


}

/* Mobilephone Device */
@media screen and (max-width: 640px) {
    .logo-area h2 {
        font-size: 20px;

    }

    .primary-btn {
        font-size: 16px;
        padding: 10px 16px;
    }

    .goal-text h4 {
        font-size: 20px;

    }

    .heading {
        font-size: 20px;
    }

    .footer-area {
        flex-direction: column-reverse;
        padding: 32px 50px;
    }

    .footer-media img {
        width: 60px;
        margin-left: 25px;
        margin-bottom: 15px;
    }

}